.titulo{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}

.body{

    background-color: rgb(180, 104, 120);
    gap: 20px;
}

.produto{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.estilo{

    background-color: rgb(211, 211, 210);
    width: 90px;
    font-size: small;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nome{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.preco{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.botao{

    border-radius: 5px;
    border: none;
    background-color: rgb(66, 14, 14);
    color: white;
    height: 30px;
    width: 300px;
    margin-top: 15px;
}

.fieldset{

    position: absolute;
    align-items: center;
    justify-content: center;

    left: 400px;

    width: 200px;
    background-color: rgba(206, 34, 68, 0.384);
}

/* -------------------------------------------------- */

.fieldset1{

    position: absolute;
    align-items: center;
    justify-content: center;

    left: 760px;

    width: 200px;
    background-color: rgba(206, 34, 68, 0.384);
}

/* -------------------------------------------------- */

.fieldset2{

    position: absolute;
    align-items: center;
    justify-content: center;

   left: 1120px;

    width: 200px;
    background-color: rgba(206, 34, 68, 0.384);
}